* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

header {
    height: 120px;
    background: linear-gradient(to bottom, #66ccff, #003399);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 40px;
    color: white;
    text-align: center;
}

main {
    max-width: 750px;
    margin: 0 auto;
    padding: 20px;
}

.container {
    margin-top: 20px;
	max-width: 100%;
	overflow-x: hidden;
}
.inner {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
}
.button {
	flex: 0 0 auto;
	background-color: #bbb;
	border: none;
	border-radius: 20px;
	padding: 10px;
	margin-right: 10px;
	font-size: 20px;
	color: #fff;
}
